
// 基础字体
$base-size:0.14rem;
// 小字体
$small-size:0.12rem;
//稍大字体
$bigger-size:0.18rem;
//最大字体
$biggest-size:0.24rem;
// 其他的字体
$extra-size:0.2rem;
//其他最大
$extra-biggest:0.32rem;
//中等字体
$middle-size:0.16rem;

// 字体颜色
$base-color:#333;
//白色字
$white-color:#fff;
//灰色字
$gray-color:#999;
//深绿色字
$deep-green-color:#34C01A;
// 深色灰
$deep-gray-color:#626873;
//稍浅色灰
$light-gray-color:#B6B9BF;
//最黑的
$other-black-color:#000;
//page颜色
$page-color:#8C8C8C;
//橘色字
$origin-color:#F5A315;
$light-black:#475164;
$light-gray:#AAADB3;
$red-color:#F03737;
$add-gray:#A1A7B3;


//北京黑
$black-color:#333;
// 另一种绿色
$extra-green:#22A30A;
//背景灰
$gray-bg:#F5F6F7;


// border线
$border-black:#2B333E;
$border-gray:#F2F2F2;